body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
  font-family: thebrooklyn, "The Brooklyn";
	font-weight: bold;
	font-size: 20px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #f08573;
  font-family: thebrooklyn, "The Brooklyn";
	font-size: 25px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
  font-family: thebrooklyn, "The Brooklyn";
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #f08573;
	outline: none;
	color: #fff;
  font-family: thebrooklyn, "The Brooklyn";
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #f0857c;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #FF8A80;
  border-color: #FF8A83;

}


.btn-register {
	background-color: #FFCA28;
	outline: none;
	color: #fff;
  font-family: thebrooklyn, "The Brooklyn";
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #FFCA2F;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #FFB300;
	border-color: #FFB305;
}

h5 {
  font-family: thebrooklyn, "The Brooklyn" !important;
  font-weight: bold;
  font-size: 15px;
}


@font-face {
    font-family: thebrooklyn;
    src: url("The Brooklyn.otf") format("opentype");
}
