@font-face {
    font-family: snubnose;
    src: url("snubnose-DEMO.otf") format("opentype");
}
@font-face {
    font-family: thebrooklyn, "The Brooklyn";
    src: url("The Brooklyn.otf") format("opentype");
}
body{
	position:relative;
}
#logo {
    padding: 7px 50px 5px 50px;
    max-height: 55px;
    transition: filter 0.2s;
}
#logo:hover { filter: brightness(20%); }
#cart-icon { padding: 10px 20px; transition: filter 0.3s; }
#cart-icon:hover{
    filter: brightness(30%);
}
a.navbar-brand {
    font-family: snubnose,sans-serif;
    font-size: 200%;
    margin: auto;
    padding: 0px;
}
.navbar a:hover{
    color: #333 !important;
}
.navbar-default .navbar-toggle { border-color: transparent; right: 0px; }
.center { margin: 0 auto; }
.no-padding { padding: 0px !important; }
.navbar-nav > li > a, .navbar-brand { height: 56px; }
.navbar { min-height: 56px !important; }
.navbar-nav { margin: 0px 0px; }
.navbar-default { box-shadow:0px 0px 5px #333; }
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
.navbar-collapse { padding: 0px; }
.col-centered { margin: 0 auto; float: none; }
#map {
    width: 84%;
    height: 500px;
    margin: 0 auto;
    border-radius: 8px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
	transition:color 0.2s;
}
.nav > li > a > img {
    filter: brightness(100%);
}

@media (max-width:767px){
	#logo {
		padding: 7px 50px 5px 50px;
		max-height: 55px;
		transition: filter 0.2s;
		filter: brightness(100%);
	}
    .mobile-nav {
        background-color: #FFFFFF;
        text-align: center;
        border-top: solid 1px black;
    }
    .mobile-nav li a {
        color:black;
    }
    .shadow-top {
        box-shadow: 0 4px 2px -3px #DDD;
    }
    .navbar-default .navbar-nav > li > a {
        color: black;
    }
    .nav > li > a > img {
        filter: brightness(20%);
    }

    .mobile-main{
      display: block !important;
      width: 100%;
    }
    .mobile-main img {
      width: 70%;
      margin: 100px 15% 20px 15%;
    }
    .mobile-main p {
      font-weight: bold;
      text-align: center;
      font-size: 120%;
    }
    .main-img{
      display: none !important;
    }
    .profile {
      height: auto !important;
    }
	.mobile-hidden {
		display:none;
	}
}

.mobile-main {
  display: none;
}

.main-img {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 110px 8% 0px 8%;
    padding: 0px;
}

.main-img video{
    display: flex;
	width: 100%;
	height: 50%;
    flex: 1 1 auto;
    border-radius: 10px;
}
































/**********************CARDS**********************/




body{
	font-family: thebrooklyn, "The Brooklyn";
	letter-spacing: 1px;
	font-size: 17px;
}

.line{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0px 8% 30px 8%;
}
h6.description{
    font-family: thebrooklyn, "The Brooklyn";
    font-size: 150%;
	color:#595c5f;
	margin-top: 20px;
}
.profile{ margin-top: 25px; height: 400px; }
.profile h1{
    font-family: thebrooklyn, "The Brooklyn";
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
    font-family: thebrooklyn, "The Brooklyn";
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile p{ font-family: thebrooklyn, "The Brooklyn"; }
.profile .img-box{
	opacity: 1;
	display: block;
    position: relative;
}

.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	right: 0px;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box div{
	position: absolute;
	z-index: 2;
    bottom:30%;
    left: 37%;
	width: 64px;
	height: 64px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box div, .img-box div img{
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.img-box .pida-cart-icon img{ width: 64px; height: 64px; filter: brightness(0.2); }
.img-box:hover:after{ opacity: 1; }
.img-box:hover div{ opacity: 1; }
.img-box div a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.text-center.img{ visibility: hidden; position: absolute;  }
.img-box img:hover .pida-cart-icon.img{ visibility: visible; }

.centered{ margin: 0px auto; }

.well{
	background-color:transparent;
}

/***************************************************************/

.hideshow{
    display: block;
	vertical-align:top;
	width: 32px;
	margin: 20px auto;

}

.hideshow img{
    width: 32px;
	height: auto;
	transform: rotate(180deg);
}


























/****************FOOTER*******************/

.back-top{
    display: block;
    width: 40px;
    height: 50px;
    margin: 30px auto 10px auto;
}
.back-top a{
    color: black;
    padding: 10px 0px;
}
.back-top a:hover{
    color: #595c5f;
    text-decoration: none;
}
.back-top img{
    width: 32px;
    height: auto;
    margin-left: 10px;
}


.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #f08573;
	height: auto;
	padding-bottom: 30px;
	position: relative;
    width: 100%;
    margin-top: 20px;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
    font-family: thebrooklyn, "The Brooklyn";
	border-bottom: 1px dotted #fff;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 20px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 15px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: white;
}
.footer ul li a {
    font-family: thebrooklyn, "The Brooklyn";
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
    color: white;
}
.footer a:hover {
    text-decoration: none;
    color: #595c5f;
}
footer p{
    font-family: thebrooklyn, "The Brooklyn";
    font-size: 90%;
    color: white;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    border: 2px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 40px;
	padding: 0;
    text-align: center;
    margin: 0px 2px;
	width: 40px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(-20deg);
	-webkit-transform: scale(1.1) rotate(-20deg);
	-moz-transform: scale(1.1) rotate(20deg);
	-ms-transform: scale(1.1) rotate(20deg);
	-o-transform: scale(1.1) rotate(20deg);
}

.footer-bottom {
	background: #F9F9F9;
	padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    font-family: thebrooklyn, "The Brooklyn";
    color: #595c5f;
}
.payments img{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
    border: 2px solid transparent;
    width: 40px;
    height: auto;
    margin: 0px 3px;
}
.payments p{
    float: left;
    margin-top: 5px;
    font-family: thebrooklyn, "The Brooklyn";
    color: #595c5f;
}

.form-control-ar {
  width: 150%;
}


















.col-item .photo img
{
    margin: 0 auto;
    width: 70%;
}

.col-item .info
{
    padding: 10px;
    margin-top: 0px;
}

.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 30px;
    margin: 0;
    font-size: 125%;
}

.price-text-color
{
    color: #AAA;
    font-style:italic;

}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
	margin-bottom: 10px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.btn-recensioni {
	border-radius:50%;
	padding:6px;
}
