.breadcrumb {
  padding-top: 100px;
}

.breadcrumb > .active a{
	color: #f08573;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
	margin-bottom: 100px;
	background-color: #ffffff;
}

.breadcrumbBox{
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 100px;
	padding-top: 32px;
}



.btn-default {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f08573;
    border-color: #f0857c;

}

.btn-default:focus,
.btn-default:hover{
	color: #fff;
	background-color: #FF8A80 !important;
  border-color: #FF8A83!important;

}

.btn-default:active {
	color: #fff;
	background-color: #FF8A80 !important;
  border-color: #FF8A83 !important;

}
